<div class="row justify-content-between">
    <div class="col-10 text-start">

        <h2>Estas son tus máquinas</h2>

    </div>

    <div class="col-2 text-end">

        <button type="button" class="btn btn-success" routerLink="../create">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>

        </button>

    </div>

</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 py-5">

    <!-- FIXME: Convert milisencods into hh:mm:ss-->
    @for (machine of machines; track $index) {
    <div class="col mb-5">

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt=".. .">
            <div class="card-body">
                <h5 class="card-title">{{machine.name}}</h5>
                <p class="card-text">Tiempo de uso actual: {{machine.currentUsedTime }}</p>
                <p class="card-text">Tiempo máximo de uso: {{machine.limitTime}}ms</p>
                <p class="card-text">Tiempo de uso total: {{machine.accumulatedUsedTime}}ms</p>
                <a class="btn btn-primary" routerLink="../1">Mantenimientos</a>
            </div>
        </div>

    </div>
    }

</div>